body{
    padding: 100px;
    font-family:cursive;
    
    background-image: url("images/FB_IMG_1703668405568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    image-orientation: inherit;
}

.btn{
    color: rgb(255, 254, 253);
    border: none;
    font-family: times Rew Roman;
    width:auto;
    height:auto;
    background-color:rgb(12, 142, 142);
    border-radius: 10px 0 10px 0;
}
.btn:hover{
    color: rgb(255, 254, 253);
    border: none;
    background-color: rgb(194, 149, 133);
    width:auto;
    height:auto;
    border-radius: 10px 0 10px 0;
    box-sizing:border-box;
}
.login-form{
    margin:auto;
    margin-top: 50px;
    padding:50px;
    width:50%;
    height: 40%;
    box-shadow: 10px 10px 30px grey;
    border:2px solid rgb(246, 229, 188);
    border-radius: 10px;
}
#next-item{
    display:none;
}
.box-1,.box-2,.box-3{
    width:auto;
    height:auto;
    padding: 30px;
    margin:30px;
    border-radius: 10px;
    color: white;
    overflow:hidden;
}
.box-1{
    background-color: aquamarine;
   
}
.box-2{
    background-color: tomato;
    
}
.box-3{
    background-color:rgb(122, 243, 136);
}
.box{
    margin: 30xp;
}
.button-form{
    margin-top: 50px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 20px rgb(141, 124, 124); */
    padding: 30px;
    margin: 30px;
    border: 2px solid rgb(246, 229, 188);
}
#font{
    font-size: 70px;
    color: rgb(48, 61, 54);
}
h1{
    color:goldenrod;
}